<div class="profile-info">

    <div>
        <span>Followers</span>
        <h1>@currentFollowers</h1>

    </div>

    <div class="vl"></div>


    <div>
        <span>Followers</span>
        <h1>@currentFollowers</h1>
    </div>

    <div class="vl"></div>

    <div>
        <span>Followers</span>
        <h1>@currentFollowers</h1>
    </div>
</div>

@code {
    [Parameter]
    public int currentFollowers { get; set; }
}
