body {

}

.container {
    position: relative;
}


.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.btn-close {
    vertical-align: top;
    float: right;
}

.profile-details h1 {
    margin: 30px auto 10px;
}

.profile-buttons-menu {
    justify-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 10px;
    margin-left: 0px;
    height: 65px;
}

.profile-buttons-menu button {
    border-radius: 10%;
    margin-inline: 10px;
    padding: 10px;
}

.btn btn-primary {
    width: 100%;
}
