html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI Light';
    font-size: x-large;
    margin: 0;
    padding: 0;
    background-color: coral;
}

.container {
    height: 90%;
    width: 90%;
}


.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.country-avatar {
    position: absolute;
    top: 150px;
    left: 150px;
}

.btn-close {
    vertical-align: top;
    float: right;
}

.profile-details {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.profile-details h1 {
    margin: 30px auto 10px;
}

.profile-buttons-menu {
    justify-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: 0px;
    height: 65px;
}

.profile-buttons-menu button {
    margin-inline: 5px;
    display: inline-block;
    border-radius: 10%;
    transition: all .3s ease-in;
    outline: none;
}
