<h3>LanguageSelector</h3>

<div class="btn-languages-group">
    <button>English</button>
    <button>Spanish</button>
    <button>Portuguese</button>
    <div class="btn btn_red"><span class="icon"></span><a href="#">Crimson</a><span></span></div>
</div>



@code {

}
